.dataContainer {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 12rem;
  height: 10.5rem;
  z-index: 99;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
  border-radius: 4px;
  overflow: hidden;
  transition: height ease-in-out .3s;
}
.header h1 {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 0.6rem;
}
.dataContainer * {
  margin:0;
  padding: 0;
}
.dataContainer:hover {
  height: 14.7rem;
}
#conditionFace {
  display: block;
  font-size: 5rem;
  text-align: center;
}
#conditionInfo{
  text-align: center;
  padding-bottom: 0.5rem;
}
.data-list-part{
  padding-left: 0.6rem;
}